header, footer{
    background-color:#FFA500;
	}
aside{
	float:left;
	width:20%
    background-color:#33399ff;
	margin-right:2%
}
nav ul li{
  float:left;
  list-style:none;
  background:#99ffff;
  }
nav ul li a{
	color:#cc66ff;
	text-decoration:none;
	margin-left:20px;
	 padding-right:20px;
  }
nav ul li a:hover {
	color:#cc66ff;
}
section{
	clear:both;
	position: relative
	top:20px;
}
aside li{
 list-style:none;
 }
aside{
	float:right:
	width:79%;
	background-color:white;
	}
footer{
	clear:both;
	position: relative
	top:15px;
}
	header, footer, section{
	width:960px;
	margin:auto;
	}
header, footer, aside, article{
outline-color:black;
   outline-style:solid;
   outline-width:1px;
}
body{
background-color:white;
}